<!-- Fixed Layout Wrapper -->
<div class="fixed-wraper">

<!-- Aside Block -->
<section role="navigation">

	<!-- Header with logo and headline -->
	<header>
		<a id="logolink" title="@_("Hayman Insights")"></a>
		<h1>@_("Headline")</h1>
	</header>
	<!-- /Header with logo and headline -->
		
	<!-- User Info -->
	<section id="user-info">
		<img src="@Url.Content("~/Content/img/sample_user.png")" alt="todo">
		<div>
			<a href="" title="@_("Account Settings and Profile Page")">Vincent Chase</a>
			<em>Information Architect</em>
			<ul>
				<li><a class="button-link" href="" title="@_("Change your personal settings")" rel="tooltip">@_("settings")</a></li>
				<li><a class="button-link" href="" title="@_("Sign out")" rel="tooltip">@_("sign out")</a></li>
			</ul>
		</div>
	</section>
	<!--/ User Info -->
		
	<!-- Main Navigation -->
	<nav id="main-nav">
		<!-- Use class .no-submenu to open link instead of a sub menu-->
		<!-- Use class .current to open submenu on page load -->
		<ul>
			<li>
				<a href="" title="@_("Go here to get an overview of your tasks")" class="dashboard current">@_("Dashboard")</a>
				<ul>
					<li class="current"><a href="" title="@_("Overview")">@_("Overview")</a></li>
					<li class=""><a href="" title="@_("Inbox")">@_("Inbox")</a></li>
				</ul>
			</li>
			<li>
				<a href="" title="@_("Meta Modelling")" class="metamodelling">@_("Meta Modelling")</a>
			</li>
			<li>
				<a href="" title="@_("Models")" class="metamodelling" data-bind="css: { 'no-submenu': vm.modelList.length == 0 }">@_("Models")</a>
				<ul data-bind="template: { name: 'menuModelTemplate', foreach: vm.modelList }">
					<script id="menuModelTemplate" type="text/html">
						<li id="${modelId}"><a data-bind="click: function() { vm.menuChangeSelectedModel($data); } ">${modelName}</a></li>
					</script>
				</ul>
			</li>
			<li>
				<a href="" title="@_("Settings")" class="settings no-submenu">@_("Settings")</a>
			</li>
			<li>
				<a href="" title="@_("Debug")" class="no-submenu">@_("Debugging")</a>
				<span title="You have 3 new tasks">3</span>
			</li>
		</ul>
	</nav>
	<!-- /Main Navigation -->
	<!-- /Sidebar -->

</section>
<!-- /Aside Block -->
	
<!-- Main Content -->
<section role="main">

	<article class="full-block clearfix">
		<header>
			<h2>Meta Modelling</h2>

			<nav>
				<ul class="tab-switch">
					<li><a rel="tooltip" title="Edit">Edit</a></li>
					<li><a rel="tooltip" title="Default View" class="default-tab current">Graph</a></li>
				</ul>
			</nav>
		</header>
				
		<div class="tab default-tab sidetabs">
			<!-- Side Tab Navigation -->
			<nav class="sidetab-switch">
				<ul data-bind="template: { name: 'modelSideTab', foreach: vm.modelList }">
				<script id="modelSideTab" type="text/html">
					<li><a id="${ modelId }" data-bind="css: { 'current': $data.modelId() == vm.metaModellingSelectedModelId() }, click: function() { vm.metaModellingChangeSelectedModelId($data); }">${ modelName }</a></li>
				</script>
					
					
@*					<li><a href="">Model Two</a></li>
					<li><a href="" class="default-sidetab current">Sample Model</a></li>
					<li><a href="">Business</a></li>
					<li><a href="">Shared Model</a></li>
					<li><a href="">Another one...</a></li>
*@				</ul>
				<p><button class="green">Create new model</button></p>
			</nav>
			<!-- /Side Tab Navigation -->
						
			<!-- Side Tab Content #sidetab1 -->
			<div class="sidetab default-sidetab">
				<h3>Topic</h3>
				<p>TabPage 1</p>
			</div>
			<!-- /Side Tab Content #sidetab1 -->
						
			@*<!-- Side Tab Content #sidetab2 -->
			<div class="sidetab">
				<h3>Topic</h3>
				<p>TabPage 2</p>
			</div>
			<!-- /Side Tab Content #sidetab2 -->
						
			<!-- Side Tab Content #sidetab3 -->
			<div class="sidetab">
				<h3>Topic</h3>
				<p>TabPage 3</p>
			</div>
			<!-- /Side Tab Content #sidetab3 -->*@
						
		</div>

		@*<div class="tab">
			<p>Edit View</p>
		</div>*@

	</article>

	<section class="debug-info"><p><strong>Version</strong><em data-bind="text: vm.debug.version"></em></p></section>

</section>
<!-- /Main Content -->
	
</div>
<!-- /Fixed Layout Wrapper -->