<nav id="main-nav">
	<!-- Use class .no-submenu to open link instead of a sub menu-->
	<!-- Use class .current to open submenu on page load -->
	<ul>
		<li>
			<a href="@Url.Action("Dashboard", "Shell")" title="@_("Go here to get an overview of your tasks")" class="dashboard current">@_("Dashboard")</a>
			<ul>
				<li class="current"><a href="" title="@_("Overview")">@_("Overview")</a></li>
				<li class=""><a href="" title="@_("Inbox")">@_("Inbox")</a></li>
			</ul>
		</li>
		<li>
			<a href="@Url.Action("MetaModelling", "Shell")" title="@_("Meta Modelling")" class="metamodelling no-submenu">@_("Meta Modelling")</a>
		</li>
		<li>
			<a href="" title="@_("Models")" class="metamodelling">@_("Models")</a>
			<ul>
				@{ var models = new[] { new { Name = "Model One" }, new { Name = "Another Model" } }; }
				@foreach (var model in models)
				{
					<li><a href="">@(model.Name)</a></li>
				}
			</ul>
		</li>
		<li>
			<a href="#!/Shell/Settings" title="@_("Settings")" class="settings no-submenu">@_("Settings")</a>
		</li>
		<li>
			<a href="#!/Shell/Debug" title="@_("Debug")" class="no-submenu">@_("Debugging")</a>
			<span title="You have 3 new tasks">3</span>
		</li>
	</ul>
</nav>